@using Curriculum.Common.Interfaces
@inject ICurriculumDataProvider CurriculumDataProvider
@inject ILocalizationProvider Localization

<Collapsable Class="mt-4" Title="@Localization.Get("Languages")" Icon="@Icons.Material.Outlined.Translate">
    <div class="pa-2">
        @foreach (var language in CurriculumDataProvider.LanguageData)
        {
            <MudGrid>
                <MudItem xs="5">
                    <MudText>@language.Name</MudText>
                </MudItem>
                <MudItem xs="7">
                    <MudProgressLinear
                        Value="@language.Level"
                        Color="Color.Primary"
                        Max="10"
                        Min="1"
                        Rounded="true"
                        Style="height: 20px"/>
                </MudItem>
            </MudGrid>
        }
    </div>
</Collapsable>

@code {
    protected override Task OnInitializedAsync()
    {
        Localization.LocalizationChanged += async () => { await InvokeAsync(StateHasChanged); };
        return Task.CompletedTask;
    }
}