<MudPaper Class="@Class" Elevation="2" Style="outline: #594ae2ff solid 2px; border-radius: 10px">
    <MudExpansionPanel Dense="true" IsInitiallyExpanded="true">
        <TitleContent>
            <div class="d-flex">
                @if (Icon != null)
                {
                    <MudIcon Icon="@Icon" class="mr-3 my-auto" Size="Size.Large" Style="color:#ecebf7;"/>
                }
                <MudText Style="font-weight: bold;font-size: 1.4rem;color:#ecebf7;">
                    @Title
                </MudText>
            </div>
        </TitleContent>
        <ChildContent>
            @ChildContent
        </ChildContent>
        
    </MudExpansionPanel>
</MudPaper>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Show { get; set; } = true;

    [Parameter]
    [EditorRequired]
    public string Title { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }
    
    [Parameter]
    public string? Icon { get; set; }
}