<div style="width: 100vw; height: 100vh; background: #32333d"
     class="d-flex align-center align-content-center justify-center">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>