@using System.Globalization
@inherits LayoutComponentBase
@inject IJSRuntime Js

<MudThemeProvider IsDarkMode="_darkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="2">
        <MudButton Color="Color.Inherit" Href="/">
            Curriculum
        </MudButton>
        <MudButton Color="Color.Inherit" Href="/Resume">
            Resume
        </MudButton>
        <MudButton Color="Color.Inherit" Href="/Blog">
            Blog
        </MudButton>
        <MudButton Color="Color.Inherit" Href="/Contacts">
            Contacts
        </MudButton>
        
        <MudSpacer />
        
        <MudIconButton Class="pa-0 mt-2" OnClick="() => SetLanguage(_ptBr)">
            <CountryFlag Country="Country.BR" Size="FlagSize.Normal"/>
        </MudIconButton>
        
        <MudIconButton Class="pa-0 mt-2"  OnClick="() => SetLanguage(_enUs)">
            <CountryFlag Country="Country.US" Size="FlagSize.Normal"/>
        </MudIconButton>
        <MudDivider Vertical="true" FlexItem="true" Class="my-2"/>
        <MudIconButton Icon="@(_darkMode ? Icons.Filled.LightMode : Icons.Filled.DarkMode)" OnClick="ToggleMode" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Filled.Print" Color="Color.Inherit" OnClick="Print" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex">
            <MudPaper Elevation="6" Class="pa-4 mx-auto my-4" Style="width: 95vw">
                <div class="printable">
                    @Body
                </div>
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private readonly CultureInfo _ptBr = new("pt-BR");
    private readonly CultureInfo _enUs = new("en-US");
    
    bool _darkMode = true;

    void ToggleMode()
    {
        _darkMode = !_darkMode;
    }
    
    async Task Print()
    {
        await Js.InvokeVoidAsync("invokeWindowPrint");
    }

    void SetLanguage(CultureInfo info)
    {

    }
}